#remove all eclipse remote temp files

RemoteSystemsTempFiles

#dont include eclipse project files and xml files
*.cproject
*.xml

#exclude settings and meta data files

.settings/
.metadata/

#exclude build directory files (object files and executables/binaries)

Build/
